<hr>
<h3><%= pluralize(@comments.count, "Reply") %></h3>

<% if @comments.nil? %>
<% else %>
  <% @comments.each do |comment| %>
    <p class="font-weight-bold"><%= comment.user.username %></p>
    <p><%= comment.content %></p>

    <% if current_user == comment.user %>
      <%= link_to 'Edit comment', edit_project_comment_path(comment.project, comment) %>
      <%= link_to 'Delete comment', [comment.project, comment], method: :delete %>
    <% end %>

  <% end %>
<% end %>

<%= render 'comments/form' %>
