<div class="jumbotron">
  <div class="container">
  </div>
</div>

<div class="container">

  <%= render 'layouts/flash' %>

  <p>
    <strong>Name:</strong>
    <%= @subcategory.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @subcategory.category.name %>
  </p>

  <%= link_to 'Edit', edit_subcategory_path(@subcategory), class:'btn btn-default' %> |
  <%= link_to 'Back', subcategories_path, class:'btn btn-default' %>

</div>
