<div class="jumbotron">
  <div class="container">
  </div>
</div>

<div class="container">

  <%= render 'layouts/flash' %>

  <p>
  <strong>Category:</strong>
  <%= @tutorial.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @tutorial.title %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= image_tag @tutorial.thumbnail(:medium) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tutorial.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= raw @tutorial.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @tutorial.user.username %>
</p>

<% if current_user && current_user.has_role?(:admin) %>
  <%= link_to 'Edit', edit_tutorial_path(@tutorial), class:'btn btn-primary' %>
  <%= button_to "delete", @tutorial, :method => :delete, confirm: 'Are you sure?', class:'btn btn-danger' %>
<% end %>
<%= link_to 'Back', tutorials_path, class:'btn btn-default' %>

</div>
