<div class="jumbotron">
  <div class="container">
  </div>
</div>

<div class="container">

  <%= render 'layouts/flash' %>

  <p><%= image_tag @project.thumbnail.url(:medium) %></p>

  <p>
    <strong>Title:</strong>
    <%= @project.title %>
  </p>

  <p>
    <strong>Pictures:</strong>
    <% @project.project_pictures.all.each do |t| %>
      <%= image_tag t.picture.url(:medium) %>
    <% end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @project.description %>
  </p>

  <p>
    <strong>Specifications:</strong>
    <%= @project.specifications %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= @project.difficulty %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @project.category.name %>
  </p>

  <p>
    <strong>Subategory:</strong>
    <%= @project.subcategory.name %>
  </p>

  <p>
    <strong>Tag:</strong>
    <% @project.tags.each do |t| %>
      <%= t.name %>
    <% end %>
  </p>

  <p>
    <strong>Files:</strong>
    <% @project.project_files.all.each do |t| %>
      <%= link_to "Download", t.file.url(:original, false) %>
    <% end %>
  </p>

  <%= render 'comments/comment' %>

  <% if current_user && current_user.has_role?(:admin) %>
  <%= link_to 'Edit', edit_project_path(@project), class:'btn btn-primary' %>
  <%= button_to "delete", @project, :method => :delete, confirm: 'Are you sure?', class:'btn btn-danger' %>
  <% end %>
  <%= link_to 'Back', projects_path, class:'btn btn-default' %>


</div>
